<div class="form-group">
    <label for="{{ name|lower }}Field">{{ name|title }}</label>
    <input type="hidden" class="form-control" name="{{ name|lower }}Field" id="{{ name|lower }}Field" required>
</div>
