
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/public/uploads/photos

# Secrets asymmetric public/private keys. These should not be committed
config/secrets/dev/dev.decrypt.private.php
config/secrets/dev/dev.encrypt.public.php
config/secrets/test/test.decrypt.private.php
config/secrets/test/test.encrypt.public.php

# PHPStorm IDE project files
.idea
