{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Conferences</h2>
    {% embed "admin/create_conference_form.html.twig" %}{% endembed %}
    {% embed "admin/update_conference_form.html.twig" %}{% endembed %}

    {% embed "admin/conferences_table.html.twig" %}{% endembed %}
{% endblock %}

{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{%  endblock %}

{% block javascripts %}
    <script src="{{ asset('js/update_conference.js') }}" ></script>
{% endblock %}
