{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Conferences</h2>
    {% embed "admin/create_conference_form.html.twig" %}{% endembed %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Year</th>
                <th>International</th>
                <th>
                    <!-- Button trigger modal -->
                    <a class="text-primary table-hover" style="cursor: pointer" data-toggle="modal" data-target="#createConference">
                        Create Conference
                    </a>
                </th>
            </tr>
        </thead>
        {% for conference in conferences %}
            <tr>
                <td>{{ conference.city }}</td>
                <td>{{ conference.year }}</td>
                <td>{% if conference.international %}Yes{% else %}No{% endif %}</td>
                <td><a class="" href="{{ path('conference', { id: conference.id }) }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{%  endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
